# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Data files
data/outputs/reports/*.txt
data/outputs/charts/*.png

# Docker-related ignores
*.log
*.pid

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
